---
# ---------------------------
# Kalliope default settings
# Use YAML syntax
# ---------------------------

# ---------------------------
# Trigger
# ---------------------------
# This is the trigger that will catch your magic work to wake up Kalliope
default_trigger: "snowboy"

# Trigger engine configuration
# Available engine are:
# - snowboy
triggers:
  - snowboy:
      pmdl_file: "trigger/snowboy/resources/kalliope-FR-13samples.pmdl"


# ---------------------------
# Speech to text
# ---------------------------

# This is the STT that will be used by default
default_speech_to_text: "google"

# Spreech to Text engines configuration
# Available engine are:
# - google (via SpeechRecognition)
# -
speech_to_text:
  - google:
      language: "fr-FR"
  - wit:
      key: "B5JI3YUSLYOYWNIDBINBVM34XUODME2K"
  - bing: # API not working : credential fails ..
      key: "9e48ddaf75904838bedc11aea6b36fb0"
  - apiai: # Fail retriving the text from the audio file ..
      key: "e0cbff154af44944a6b9f82c0668b527"
      language: "fr"
  - houndify: # In the online documentation but Not implemented yet in the speech recognition lib ..?
      key: "7zj90T7qAV74OYXk4X4vI2Xhk7wPsJu4aEZ0G5Ll-BMmV1JGtFpCxtSH9SmTY4G3bpEJ7a5y_GTQid-CAKI6vw=="
      client_id: "lN4JXeaSticbSo9-llczbA=="


# ---------------------------
# Text to speech
# ---------------------------
# This is the default TTS that will be used by Kalliope to talk.
default_text_to_speech: "pico2wave"
# where we store generated audio files from TTS engine to reuse them
cache_path: "/tmp/kalliope_tts_cache"

# Text to Spreech engines configuration
# Available engine are:
# - pico2wave
# - voxygen
text_to_speech:
  - pico2wave:
      language: "fr-FR"
      cache: True
  - voxygen:
      voice: "Agnes"
      cache: True
  - acapela:
      language: "sonid15"
      voice: "Manon"
      cache: True
  - googletts:
      language: "fr"
      cache: True
  - voicerss:
      language: "fr-fr"
      cache: True


# ---------------------------
# Wake up answers
# ---------------------------
# When Kalliope detect the hotword/trigger, he will select randomly a phrase in the following list
# to notify the user that he's listening for orders
random_wake_up_answers:
  - "Oui monsieur?"
  - "Je vous écoute"
  - "Monsieur?"
  - "Que puis-je faire pour vous?"
  - "J'écoute"
  - "Oui?"

# You can play a sound when Kalliope detect the hotword/trigger instead of saying something from
# the `random_wake_up_answers`.
# Place here the full path of the sound file or just the name of the file in /usr/lib/kalliope/sounds
# The file must be .wav or .mp3 format. By default two file are provided: ding.wav and dong.wav
random_wake_up_sounds:
  - "ding.wav"
  - "dong.wav"
  # - "/my/personal/full/path/my_file.mp3"


# ---------------------------
# Rest API
# ---------------------------
rest_api:
  active: True
  port: 5000
  password_protected: True
  login: admin
  password: secret

# ---------------------------
# Default Synapse
# ---------------------------
# Specify an optional default synapse response in case your order is not found.
default_synapse: "Default-synapse"

# ---------------------------
# Resource directory path
#
# Accepted types :
#   - neuron
#   - stt
#   - tts
#   - trigger  /!\ we do not manage trigger properly yet...
# ---------------------------
#resource_directory:
#  neuron: "/var/tmp/resources/neurons"
#  stt: "resources/stt"
#  tts: "resources/tts"
#  trigger: "resources/trigger"
