python-pip
libssl-dev
libportaudio0
libportaudio2
libportaudiocpp0
portaudio19-dev
libffi-dev
python-yaml
python-pycparser
python-paramiko
python-markupsafe
apt-transport-https
python-dev
libsmpeg0
libttspico-utils
libsmpeg0
flac
dialog
portaudio19-dev
build-essential
sox
libatlas3-base
mplayer
