SpeechRecognition==3.4.6
markupsafe==0.23
pyaudio==0.2.9
ansible==2.1.1.0
python2-pythondialog==3.4.0
jinja==1.2
python-crontab==2.1.1
cffi==1.8.3
pygmail==0.0.5.4
pushetta==1.0.15
wakeonlan==0.2.2
ipaddress==1.0.16
pyowm==2.5.0
python-twitter==3.1
flask==0.11.1
Flask-Restful==0.3.5
wikipedia==1.4.0
requests==2.12.1
httpretty==0.8.14
mock==2.0.0
