six==1.10.0
SpeechRecognition>=3.5.0
markupsafe==0.23
pyaudio==0.2.9
ansible==2.2.0.0
python2-pythondialog==3.4.0
jinja2==2.8
cffi==1.9.1
ipaddress==1.0.17
flask==0.11.1
Flask-Restful==0.3.5
requests==2.12.4
httpretty==0.8.14
mock==2.0.0
Flask-Testing==0.6.1
apscheduler==3.3.0
GitPython==2.1.1
packaging>=16.8
