{% if unread == 0 %}
    Vous n'avez aucun email
{% else %}
    Vous avez {{ unread }} email.
    {% set count = 1 %}
    {% if unread > 0 %}
        {% for subject in subjects %}
         i-maile {{ count }}. {{ subject }}.
         {% set count = count + 1 %}
        {% endfor %}
    {% endif %}
{% endif %}
