{% if returncode == "DisambiguationError" %}
    Veuillez etre plus précis. La recherche que vous venez d'éffectuez peut correspondre au page Wikipédia suivante:
    {% if may_refer is not none %}
        {% for el in may_refer %}
            {{ el }}
        {% endfor %}
    {% endif %}
{% elif returncode == "PageError" %}
    Je n'ai rien trouvé la dessus
{% else %}
    {{ summary }}
{% endif %}
